{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">{{ article.title }}</span> &middot;
        <span class="text-muted">by {{ article.author.full_name }} |
            {{ article.date }}</span>
    </div>
    <div class="card-body">
        {{ article.body }}
    </div>

    <hr>

    <h5>Number of comments: {{ article.comment_set.count }}</h5>

    {% for comment in article.comment_set.all %}
    <p>{{ comment.author }} at {{ comment.date }}: {{ comment.body }}</p>
    {% endfor %}

    <div class="card-footer text-center text-muted">
        <a href="#">Edit</a> | <a href="#">Delete</a>
    </div>
</div>
<br />
{% endblock content %}
